{% extends "base.html.twig" %}

{% block title %}
	Admin Article |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="title text-center">Administration des articles</h1>
		<div class="mb-2">
			<a href="{{ path('admin.article.new') }}" class="btn btn-primary text-light">Créer un article</a>
		</div>
		{% include "Components/Article/_articles.html.twig" with {articles: articles, admin: true} only %}
	</section>
{% endblock %}
